.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  gap: 40px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  position: absolute;
  left: 50%;
  bottom: -55px;
  transform: translateX(-50%);
  transition: transform 0.5s ease;
}

.background.hovered {
  transform: translateX(-50%) translateY(-64px);
}

.background.leaving {
  transform: translateX(-50%) translateY(0);
}

.background img {
  width: 24px;
  height:24px;
  scale: 2.3;
  border-radius: 8px;
}

.img-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.604);
  color: rgb(0, 0, 0);
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  backdrop-filter: blur(9px);
  width: 60px;
  white-space: normal;
  word-wrap: break-word;
  }

.img-wrapper:hover .tooltip {
  opacity: 1;
  margin-bottom: 11px;
}