# Logs
logs
*.log
npm-debug.log*
src-tauri/target
src-tauri/gen
node_modules
dist
dist-ssr
*.local

maintainer.py

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
