.items-wrapper {
    display: flex;
    max-height: 300px;
    overflow-y: auto;
    padding: 1rem;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.item{
    display: flex;
    flex-direction: row;
    gap: 9px;
    border-radius: 15px;
}
.item:hover {
    background-color: rgba(84, 82, 82, 0.07);
}

.item-img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 20%;
    scale: 0.9;
}

.item-span {
    display: block;
    max-width: 200px;
}

.time-style {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.time-label {
  display: flex;
  margin-top: 10px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(135, 131, 131, 0.275);
  line-height: 1;
  padding: 0;
  margin-left: 11px;
}

.time-content {
  width: 700px;
  height: 300px;
  padding: 20px;
}

.time-calander {
    width: 75%;
    height: 65%;
}

.time-msgBox {
    margin-top: 13px;
    width: 75%;
    height: 35%;
}

.time-info {
    position: absolute;
    margin-left: 69%;
    margin-bottom: 00%;
    width: 23%;
    height: 80%;
}