.items-wrapper {
  display: flex;
  max-height: 300px;
  overflow-y: auto;
  padding: 1rem;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.item{
  display: flex;
  flex-direction: row;
  gap: 9px;
  border-radius: 15px;
  transition: background-color 0.5s ease;
}
.item:hover {
  background-color: var(--color-focus-mild);
}

.item-img {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 20%;
  scale: 0.9;
}

.item-span {
  color: var(--text-body);
  display: block;
  max-width: 200px;
}

.time-style {
  display: flex;
  width: fit-content;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.time-label {
  display: flex;
  margin-top: 10px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-secondary-head);
  line-height: 1;
  padding: 0;
  margin-left: 11px;
}

.time-content {
  width: 42vw;
  height: 32vh;
  padding: 20px;
}

.time-calander {
  width: 75%;
  height: 65%;
}

.time-msgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  width: 75%;
  height: 35%;
}

.time-info {
  position: relative;
  left: 77%;
  bottom: 100%;
  width: 25%;
  height: 100%;
  top: -87%;
}

.message-box {
  padding: 10px;
  background: var(--color-mild);
  border: 2px solid var(--color-base);
  border-radius: 12px;
  width: 90%;
  height: 90%;
}

.title {
  margin: 0 0 -10px;
  font-size: 22px;
  color: var(--text-secondary-head);
}

.content {
  font-size: 15px;
  color: var(--text-body);
}

.todo-title {
  position: absolute;
  margin-top: 10px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-secondary-head);
  line-height: 1;
  padding: 0;
  margin-left: 11px;
}

.power-context {
  position: fixed;
  top: 6%;
  right: 5%;
  width: 300px;
  min-height: 320px; 
  display: flex;
  background: var(--color-base);
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.power-top-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  gap: 10px;
}

.power-top-button {
  flex: 0 1 auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--color-base);
  backdrop-filter: blur(10px);
  border: none;
  cursor: pointer;
  transition: background 0.5s ease, transform 0.2s ease;
}

.power-top-button:hover {
  background: var(--color-focus);
}


.power-toggle-buttons {
  margin-top: 20px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.power-toggle {
  width: 120px;
  height: 50px;
  background-color: var(--color-base);
  border-radius: 15px;
  display: flex;
  padding: 0 8px;
  justify-content: flex-start;
  align-items: center;  
  flex: 0 1 auto;
  transition: background-color 0.5s ease;
}

.power-toggle:hover {
  background-color: var(--color-focus);
}


.power-toggle label {
  font-size: 14px;
  font-weight: bolder;
  color: var(--text-body);
}

.power-toggle button {
  position: absolute;
  margin-left: 30%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--color-mild);
  background-color: var(--color-base);
  transition: background-color ease 0.6s;
}

.power-toggle button:hover {
  background-color: var(--color-focus);
}

.context-background {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: blur(15px);
  background-color: var(--color-base);
  border-radius: 18px;
  padding: 1rem;
  min-height: 150px;
  width: max-content;
  height: auto;
  transition: background-color 0.3s ease;
}

.context-label {
  margin-top: 10px;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-head);
  line-height: 1;
  padding: 0;
  margin-left: 11px;
}

.context-background:hover {
  background-color: var(--color-focus-mild);
}

.right-base {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: fit-content;
  scale: 0.9;
}
.right-items {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.right-item{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-mild);
  transition: background-color 0.6s ease;
}
.right-item span{
  color: var(--text-body);
}
.right-item:hover {
  background-color: var(--color-focus);
}